ul li {
  list-style: none;
}
.theme {
  background: #fffef8;
  color: #22202e;
  font-size: 18px;
}
.bg-theme-contrast {
  background: #22202e;
}
.color-theme-black {
  color: #22202e;
}
.color-theme-white {
  color: #fffef8;
}
.shadow-black {
  box-shadow: 0 5px 8px #666;
}
.shadow-white {
  box-shadow: 0 5px 8px #fffef8;
}
.theme-night {
  background: #22202e;
  color: #fffef9;
  font-size: 18px;
}
.theme-day {
  background: #fffef9;
  color: #2b333e;
  font-size: 18px;
}
.theme-pink {
  background: #ec9bad;
  color: #fffef9;
  font-size: 18px;
}
.theme-sky {
  background: #5698c3;
  color: #fffef9;
  font-size: 18px;
}
.theme-grass {
  background: #2c9678;
  color: #fffef9;
  font-size: 18px;
}
#nav {
  height: 100px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #22202e;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
}
#nav .container-fluid {
  padding: 33.33333333px 5%;
}
#nav .container-fluid li a:hover {
  color: #22202e;
}
#nav .navbar-header {
  padding: 0 5%;
}
#nav .navbar-header img {
  height: 100px;
}
#nav .collapsed {
  margin: 25px;
}
.section-wrap .section-1 {
  position: relative;
}
.section-wrap .section-1 .index-center {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  color: #333;
}
.section-wrap .section-1 .index-center img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px #22202e solid;
  margin: 10px;
  transition: all 0.5s;
}
.section-wrap .section-1 .index-center img:hover {
  box-shadow: 0 5px 8px #666;
  margin-top: -5px;
}
.section-wrap .section-1 .index-center p {
  max-width: 1080px;
  padding: 0 60px;
  margin: auto;
}
.section-wrap .section-1 .index-center .index-name {
  transition: all 0.5s;
  padding: 15px;
}
.section-wrap .section-1 .index-center .index-name:hover {
  color: #22202e;
  font-size: 26px;
}
.section-wrap .section-1 .index-bnt {
  position: absolute;
  bottom: 60px;
  width: 100px;
  height: 40px;
  border: none;
  color: #fffef8;
}
.section-wrap .section-1 .award {
  position: absolute;
  bottom: 60px;
  width: 100px;
  height: 40px;
  border: none;
  color: #fffef8;
  left: 140px;
  background: #1661ab;
}
.section-wrap .section-1 .self-introduction {
  position: absolute;
  bottom: 60px;
  width: 100px;
  height: 40px;
  border: none;
  color: #fffef8;
  right: 140px;
  background: #2c9678;
}
.section-wrap .section-2 {
  position: relative;
}
.broadside {
  height: 400px;
  width: 160px;
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -200px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  box-shadow: 0 5px 8px #666;
}
.broadside-on {
  height: 100%;
  width: 20px;
  background: #22202e;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.broadside-on:hover {
  opacity: 1;
}
.broadside-content {
  width: 160px -20;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}
.broadside-content .themes {
  height: 16%;
  width: 68px;
  border-radius: 50%;
  background: cadetblue;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px #22202e solid;
  opacity: 0.7;
  color: #fffef8;
}
.broadside-content .themes:hover {
  opacity: 1;
}
.broadside-content .themes:nth-child(1) {
  background: #fffef8;
  color: #22202e;
}
.broadside-content .themes:nth-child(2) {
  background: #22202e;
  color: #fffef8;
}
.broadside-content .themes:nth-child(3) {
  background: #ec9bad;
}
.broadside-content .themes:nth-child(4) {
  background: #5698c3;
}
.broadside-content .themes:nth-child(5) {
  background: #2c9678;
}
.send {
  position: absolute;
  left: 50%;
  bottom: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-left: -260px;
}
.send .input input {
  height: 40px;
  width: 400px;
  padding-left: 10px;
}
.send .input .btn {
  height: 40px;
  width: 100px;
  background: #22202e;
  color: #fffef8;
}
/*大屏幕*/
/*平板电脑与小屏电脑之间的分辨率*/
/*横向放置的手机和竖向放置的平板之间的分辨率*/
/*竖向放置的手机以及分别率*/
